# ignore everything (dirs, files, sub-dirs, sub-files)
/*

# but do not ignore the .gitignore file
!.gitignore

# do not ignore R projct
!examinePS.Rproj

# do not ignore the following Rmd and R files
!examinePS.Rmd
!examinePS.R
!runPSandExaminePS.R
!plotResults.Rmd


# do not ignore the readme, citation and licence
!README.md
!CITATION.cff
!LICENSE
!COPYING.txt
!NEWS.md

# do not ignore the following folders
!/R
!/data
!/tests
